<html>
<body>
<div>
    <form method="post">
        <input type="text" name="full_name" placeholder="Введите имя и фамилию сотрудника"/>
        <input type="text" name="work_experience" placeholder="Введите опыт работы"/>
        <input type="text" name="home_address" placeholder="Введите домашний адрес"/>
        <input type="text" name="date_of_birth" placeholder="Введите дату рождения"/>
        <input type="text" name="education" placeholder="Введите образование"/>
        <input type="text" name="position" placeholder="Введите должность"/>
        <input type="text" name="start_work" placeholder="Введите дату начала работы в проекте"/>
        <input type="text" name="end_work" placeholder="Введите дату окончания работы в проекте"/>
        <input type="text" name="project_name" placeholder="Введите название проекта"/>
        <button type="submit">Добавить</button>
    </form>
    <form>
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/Employees">Previous</a>
    </form>
</div>
</body>
</html>