<html>
<body>
<div>
    <form method="post">
        <input type="text" name="money" placeholder="Введите сумму денег"/>
        <input type="text" name="position" placeholder="Введите должность"/>
        <input type="text" name="work_experience" placeholder="Введите опыт работы"/>
        <input type="text" name="project_name" placeholder="Введите имя проекта"/>
        <input type="text" name="special_date" placeholder="Введите дату для премиальных"/>
        <input type="text" name="full_name" placeholder="Введите имя работника"/>
        <button type="submit">Добавить</button>
    </form>
    <form>
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/Payments">Previous</a>
    </form>
</div>
</body>
</html>