<html>
<body>
<div>
    <form method="post">
        <input type="text" name="project_name" placeholder="Введите название проекта"/>
        <input type="text" name="start_date" placeholder="Введите дату начала проекта"/>
        <input type="text" name="end_date" placeholder="Введите дату окончания проекта"/>
        <button type="submit">Добавить</button>
    </form>
    <form>
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/Projects">Previous</a>
    </form>
</div>
</body>
</html>