<html>
<body>
    <div>
        <a href="http://localhost:8080/Employees"><b>Employees</b></a><br>
        <a href="http://localhost:8080/Projects"><b>Projects</b></a><br>
        <a href="http://localhost:8080/Payments"><b>Payments</b></a><br>
    </div>
</body>
</html>