<html>
<body>
<div>
    <form method="post">
        <input type="text" name="money" placeholder="Введите сумму денег"/>
        <input type="text" name="position" placeholder="Введите должность"/>
        <input type="text" name="work_experience" placeholder="Введите опыт работы"/>
        <input type="text" name="project_name" placeholder="Введите имя проекта"/>
        <input type="text" name="special_date" placeholder="Введите дату для премиальных"/>
        <input type="text" name="employee_name" placeholder="Введите имя сотрудника"/>
        <button type="submit">Изменить</button>
    </form>
</div>
</body>
</html>